<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}OC Plateforme{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        {#<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/Slate.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    {% endblock %}
</head>

<body>
    <div class="container" style="width:99%; max-width: none">



        <ul id="dropdown1" class="dropdown-content">
            {% block dropdownMenu %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {#<li><a href="{{ path('fos_user_profile_edit') }}">Mon profil</a></li>#}
                    <li><a href="{{ path('core_user_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('core_user_login') }}">Connexion</a></li>
                    <li><a href="{{ path('core_user_register') }}">Inscription</a></li>
                {% endif %}
            {% endblock %}
        </ul>
        <nav class="navbar navbar-default navbar-fixed-top">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">apps</i></a>
            <div class="nav-wrapper">
                <div class="menu-head">
                    <a href="#!" class="brand-logo">
                        <span class="title-head"><img src="{{ asset('assets/logo.png') }}"/>PLATFORM</span>
                    </a>
                </div>
                <ul class="right">
                {#<ul class="right hide-on-med-and-down">#}
                    {#<li><a href="sass.html">Sass</a></li>#}
                    {#<li><a href="badges.html">Components</a></li>#}
                    <!-- Dropdown Trigger -->
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="dropdown1">
                            <span class="user-dropdown chip">
                                {% if app.user.image is not defined or app.user.image is null %}
                                    <img src="{{ asset('uploads/anon_user.png') }}" class="circle"/>
                                {% else %}
                                    <img src="{{ asset(app.user.image.webPath) }}" class="circle"/>
                                {% endif %}
                                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                    {{ app.user.username }}
                                {% else %}
                                    visitor
                                {% endif %}
                            </span>
                            <i class="material-icons">view_headline</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    <div class="row">
        <div id="menu">
            {#<ul class="nav nav-pills nav-stacked">#}
            <ul id="slide-out" class="nav nav-pills nav-stacked side-nav fixed">
                {% block menu %}

                <div class="menu-span">--- MENU GENERAL ---</div>
                {% include('OCCoreBundle:layout:menu_layout.html.twig') %}

                {% endblock %}
            </ul>


        </div>
        <div id="content">

            <div class="well title-page">
                <span>{% block titlePage %}{% endblock %}</span>
            </div>

            <hr>

            {% block body %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script>
        $( document ).ready(function() {
            console.log( "ready!" );
            $(".button-collapse").sideNav();
            $(".dropdown-button").dropdown({
                inDuration: 400,
                outDuration: 350,
                constrainWidth: false, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: true, // Displays dropdown below the button
                alignment: 'left', // Displays dropdown with edge aligned to the left of button
                stopPropagation: false // Stops event propagation
            });
        });
    </script>
{% endblock %}

</body>
</html>