{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    Profil - {{ siteName }}
{% endblock %}

{% block titlePage %}
    Profil de {{ user.fullname }}
{% endblock %}

{% block body %}
    <div class="panel panel-info">
        <div class="panel-body">
            {% if user.image is not defined or user.image is null %}
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="{{ user.username }} image" src="{{ asset('uploads/anon_user.png') }}" class="img-responsive"> </div>
            {% else %}
                {% if user == app.user %}
                    <div class="col-md-3 col-lg-3 " align="center">
                        <a href="{{ path('core_user_delete_img', {'id': user.id}) }}" class="btn btn-danger" id="delete_img">Supprimer</a>
                        <img alt="{{ user.username }} image" src="{{ asset(user.image.webPath) }}" class="img-responsive">
                    </div>
                {% endif %}
            {% endif %}

            <div class=" col-md-9 col-lg-9">
                <table class="table table-user-information table-responsive">
                    <tbody>
                        <tr>
                            <th>Pseudo :</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Email :</th>
                            <td><a href="mailto: {{ user.email }}">{{ user.email }}</a></td>
                        </tr>
                        <tr>
                            <th>Rôle :</th>
                            <td>
                                {% include('OCCoreBundle::User/utils/view_role.html.twig') %}
                            </td>
                        </tr>
                        <tr>
                            <th>Nom :</th>
                            <td>{{ user.lastname }}</td>
                        </tr>
                        <tr>
                            <th>Prénom :</th>
                            <td>{{ user.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Nom complet :</th>
                            <td>{{ user.fullname }}</td>
                        </tr>

                        <tr>
                            <th>Date d'inscription :</th>
                            <td>{{ user.createdAt|date('d/m/Y H:m:s') }}</td>
                        </tr>
                        <tr>
                            <th>Mise à jour du profil :</th>
                            <td>{{ user.updatedAt|date('d/m/Y H:m:s') }}</td>
                        </tr>
                        <tr>
                            <th>
                                {% if (user == app.user) or (is_granted('ROLE_ADMIN')) %}
                                    <a href="{{ path('core_user_edit', {'id': user.id}) }}" class="btn btn-default">
                                        <i class="material-icons">edit</i>
                                        Modifier mes informations
                                    </a>
                                {% endif %}
                            </th>
                            <td>

                                {% if is_granted('ROLE_ADMIN') %}
                                    {#{{ path('core_user_delete', {'id': advert.id}) }}#}
                                    <a href="#" class="btn btn-danger">
                                        <i class="material-icons">delete</i>
                                        Supprimer
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% include('OCCoreBundle::User/utils/view_advert_and_app.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}