{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    Profil - {{ siteName }}
{% endblock %}

{% block titlePage %}
    Profil de {{ user.fullname }}
{% endblock %}

{% block body %}
    <div class="panel panel-info">
        <div class="panel-body">
            {% if user.image is not defined or user.image is null %}
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="{{ user.username }} image" src="{{ asset('uploads/anon_user.png') }}" class="img-responsive"> </div>
            {% else %}
                {% if user == app.user %}
                {% endif %}
                <div class="col-md-3 col-lg-3 " align="center">
                    <a href="{{ path('core_user_delete_img', {'id': user.id}) }}" class="btn btn-danger" id="delete_img">Supprimer</a>
                    <img alt="{{ user.username }} image" src="{{ asset(user.image.webPath) }}" class="img-responsive">
                </div>
            {% endif %}

            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>Pseudo :</td>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td>Email :</td>
                            <td><a href="mailto: {{ user.email }}">{{ user.email }}</a></td>
                        </tr>
                        <tr>
                            <td>Rôle :</td>
                            <td>
                                {% for _role in user.roles %}
                                    {% for param_role in security_roles %}
                                        {% if param_role.val == _role %}
                                            <span class="label label-{{ param_role.color }}">{{ param_role.str }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Nom :</td>
                            <td>{{ user.lastname }}</td>
                        </tr>
                        <tr>
                            <td>Prénom :</td>
                            <td>{{ user.firstname }}</td>
                        </tr>
                        <tr>
                            <td>Nom complet :</td>
                            <td>{{ user.fullname }}</td>
                        </tr>

                        <tr>
                            <td>Date d'inscription :</td>
                            <td>{{ user.createdAt|date('d/m/Y H:m:s') }}</td>
                        </tr>
                        <tr>
                            <td>Mise à jour du profil :</td>
                            <td>{{ user.updatedAt|date('d/m/Y H:m:s') }}</td>
                        </tr>
                        <tr>
                            <td>
                                {% if (user == app.user) or (is_granted('ROLE_ADMIN')) %}
                                    <a href="{{ path('core_user_edit', {'id': user.id}) }}" class="btn btn-default">
                                        <i class="material-icons">edit</i>
                                        Modifier mes informations
                                    </a>
                                {% endif %}
                            </td>
                            <td>

                                {% if is_granted('ROLE_ADMIN') %}
                                    {#{{ path('core_user_delete', {'id': advert.id}) }}#}
                                    <a href="#" class="btn btn-danger">
                                        <i class="material-icons">delete</i>
                                        Supprimer
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>


                <ul class="collapsible" data-collapsible="accordion">

                    {% if user.adverts|length > 0 %}
                        <li>
                            <div class="collapsible-header"><i class="material-icons">description</i>Annonces</div>
                            <div class="collapsible-body">
                                <table class="responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Annonce</th>
                                        <th>Postulants</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for _advert in user.adverts %}
                                        <tr>
                                            <td>{{ _advert.date|date("H:i m/d/Y") }}</td>
                                            <td>
                                                <a href="{{ path('oc_platform_view', {'id': _advert.id}) }}">
                                                    {% if _advert.image is not null %}
                                                        <img src="{{ asset(_advert.image.webPath) }}" alt="" class="img-rounded small-pics">
                                                    {% endif %}
                                                    {{ _advert.title }}
                                                </a>
                                            </td>
                                            <td>{{ _advert.nbApplications }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    {% endif %}

                    {% if user.applications|length > 0 %}
                        <li>
                            <div class="collapsible-header"><i class="material-icons">insert_comment</i>Demandes</div>
                            <div class="collapsible-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Annonce</th>
                                        <th>Auteur de l'annonce</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for _app in user.applications %}
                                        <tr>
                                            <td>{{ _app.date|date("H:i m/d/Y") }}</td>
                                            <td>
                                                <a href="{{ path('oc_platform_view', {'id': _app.advert.id}) }}">
                                                    {% if _app.advert.image is not null %}
                                                        <img src="{{ asset(_app.advert.image.webPath) }}" alt="" class="img-rounded small-pics">
                                                    {% endif %}
                                                    {{ _app.advert.title }}
                                                </a>
                                            </td>
                                            <td><a href="{{ path('core_user_profil', {'id': _app.advert.author.id}) }}">{{ _app.advert.author.username }}</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}