{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
    Inscription - {{ siteName }}
{% endblock %}

{% block titlePage %}
    Inscription
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {% if message is defined %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    {% if errors is defined %}
        {% for _error in errors %}
            <div class="alert alert-danger">{{ _error.message }}</div>
        {% endfor %}
    {% endif %}

    {{ form_errors(form) }}

    <div class="well">




        <div class="form-group">
            <label class="col-sm-2 control-label">Rôle</label>

            <div class="col-sm-10">
                {% for role in roles %}
                    <input type="radio" name="role" value="{{ role.val }}" id="{{ role.val }}" checked><label for="{{ role.val }}">{{ role.str }}</label>
                    <br />
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.username, 'Pseudo', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            <div class="col-sm-10">
                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'minlength':5}}) }}
                {{ form_errors(form.username) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.password.first, 'Mot de passe', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            <div class="col-sm-10">
                {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'minlength':6,
                            'data-toggle': 'popover', 'data-trigger': 'active', 'data-placement': 'bottom',
                            'data-content': 'Minimum : 6 caractères, une majuscule, une minuscule et un chiffre'}}) }}
                {{ form_errors(form.password) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.password.second, 'Répétez le mot de passe', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            <div class="col-sm-10">
                {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'minlength':6}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.lastname, 'Nom', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            <div class="col-sm-10">
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'minlength':2}}) }}
                {{ form_errors(form.lastname) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            <div class="col-sm-10">
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'minlength':2}}) }}
                {{ form_errors(form.firstname) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            <div class="col-sm-10">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.image.imageFile, "Image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            <div class="col-sm-10">
                <div class="file-field">
                    <div class="btn">
                        <span>File</span>
                        {{ form_widget(form.image.imageFile) }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                {{ form_errors(form.image.imageFile) }}
            </div>
        </div>

        <div class="form-group">
            <span class="col-sm-2 control-label"> </span>

            <div class="col-sm-10">
                {{ form_rest(form) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}