{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}

<div class="well">

    {% if form.date is defined %}
        <div class="form-group">
            {{ form_label(form.date, "Date", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.date) }}

            <div class="col-sm-10">
                {{ form_widget(form.date) }}
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.title, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.title) }}

        <div class="col-sm-10">
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.content, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.content) }}
        <div class="col-sm-10">
            {{ form_widget(form.content, {'attr': {'class': 'form-control materialize-textarea'}}) }}
        </div>
    </div>

    {% if form.published is defined %}
        <div class="form-group">
            <span class="col-sm-2 control-label">Published</span>

            <div class="col-sm-10">
                {{ form_widget(form.published) }}
            </div>
        </div>
    {% endif %}

    {% if form.categories is defined %}
        <div class="form-group">
            {{ form_label(form.categories, "Catégories", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.categories) }}

            <div class="col-sm-10">
                {{ form_widget(form.categories) }}
            </div>
        </div>
    {% endif %}
    {% if form.categories_ is defined %}
        <div class="form-group">
            {{ form_label(form.categories_, "Add catégories", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.categories_) }}

            <div class="col-sm-10">
                {{ form_widget(form.categories_) }}
                <a href="#" id="add_category" class="btn btn-default">
                    Ajouter une catégorie inéxistante
                </a>
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.image.imageFile, "Image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        <div class="col-sm-10">
            <div class="file-field">
                <div class="btn">
                    <span>File</span>
                    {{ form_widget(form.image.imageFile) }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            {{ form_errors(form.image.imageFile) }}
        </div>
    </div>

    {% if advert is defined %}
        {% if advert.image is defined and advert.image is not null %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Image actuelle</label>

                <div class="col-sm-10">
                    <img src="{{ asset(advert.image.webPath) }}" class="img-rounded materialboxed"/>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="form-group">
        <span class="col-sm-2 control-label"> </span>

        <div class="col-sm-10">
            {{ form_widget(form.sauvegarder, {'attr': {'class': 'btn btn-default'}}) }}
            {% if advert.id is defined and advert.id is not null %}
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}" class="btn btn-default">
                    <i class="Tiny material-icons">cancel</i> <span> Annuler</span>
                </a>
            {% else %}
                <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
                    <i class="Tiny material-icons">cancel</i> <span> Annuler</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{{ form_end(form) }}



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var $container = $("div[id$='_categories_']");

        $( "div[id^='advert_edit_categories__']" ).each(function( index ) {
            $(this).parent().remove();
        });

        var index = $container.find(':input').length;
        $('#add_category').click(function(e)
        {
            addCategory($container);
            e.preventDefault();
            return false;
        });

        if (index == 0)
            console.log('plop');
        else {
            $container.children('div').each(function() {
                addDeleteLink($(this));
            });
        }

        function addCategory($container)
        {
            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Catégorie n°' + (index+1))
                .replace(/__name__/g,        index)
            ;
            var $prototype = $(template);
            addDeleteLink($prototype);
            $container.append($prototype);
            index++;
        }

        function addDeleteLink($prototype)
        {
            var $deleteLink = $('<a href="#" class="btn btn-danger"><i class="Tiny material-icons">delete_sweep</i>Supprimer</a>');
            $prototype.append($deleteLink);
            $deleteLink.click(function(e)
            {
                $prototype.remove();
                e.preventDefault();
                return false;
            });
        }
    });
</script>