{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block titlePage %}
    Liste des annonces
{% endblock %}

{% block ocplatform_body %}
    <p>
        {% include('OCPlatformBundle:Advert:utils/info_message.html.twig') %}
    </p>

    <ul class="collection">
        {% for advert in listAdverts %}
            <li class="collection-item avatar">
                {% if advert.image is not null %}
                    <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                        <img src="{{ asset(advert.image.webPath) }}" alt="" class="img-rounded">
                    </a>
                {% endif %}
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    <span class="title">{{ advert.title }}</span>
                </a>
                <p>
                    Par <a href="{{ path('core_user_profil', {'id': advert.author.id}) }}">{{ advert.author.username }}</a> - {{ advert.date|date('d/m/Y') }}
                </p>

                <div>
                    {% include'OCPlatformBundle:Advert:utils/category.html.twig' with {'_categories': advert.categories} %}
                </div>
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>
    {% if nbPages > 1 %}
        <ul class="pagination">
            {% for p in range(1, nbPages) %}
                <li class="{% if p == page %}active{% endif %}">
                    <a href="{{ path('oc_platform_home', {'page': p}) }}" >{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
