
{% if listAdverts is defined %}
    {% if listAdverts|length >= 1 %}
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {% if showNumber is defined %}
                        <div class="notif-number">{{ advert.nbApplications }}</div>
                    {% endif %}
                    {{ advert.title }}
                    <div class="ghost-link">
                        Par {{ advert.author.username }} le {{ advert.date|date('d/m/Y H:i') }}
                    </div>
                </a>
            </li>
        {% endfor %}
    {% else %}
        <div class="menu-span">[ AUCUNE ]</div>
    {% endif %}
{% endif %}
