<ul class="nav nav-pills nav-stacked">
    {% if listAdverts is defined %}
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {% if showNumber is defined %}
                        {{ advert.title ~ " [" ~ advert.nbApplications ~ "]" }}
                    {%  else %}
                        {{ advert.title }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    {% endif %}

    {% if listMenu is defined %}
        {% for menu in listMenu %}
            <li>
                <a href="{{ menu.url }}">
                    {{ menu.title }}
                </a>
            </li>
        {% endfor %}

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('fos_user_profile_edit') }}">Profil</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
        {% endif %}
    {% endif %}
</ul>