{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block titlePage %}
    {{ advert.title }}
{% endblock %}

{% block ocplatform_body %}
    <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
        <i class="Tiny material-icons">arrow_back</i> <span>Retour</span>
    </a>
    {% if (is_granted('ROLE_AUTEUR') and advert.author.username == app.user.username) or (is_granted('ROLE_ADMIN')) %}
        <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
            <i class="material-icons">edit</i>
        </a>

        <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
            <i class="material-icons">delete</i>
        </a>
    {% endif %}

    <br />

    <div class="well detailAdvert">
        {% if advert.image is not null %}
                <img src="{{ asset(advert.image.webPath) }}" class="materialboxed col-md-4"/>
        {% endif %}

        <div class="col-md-8">
            Par <a href="{{ path('core_user_profil', {'id': advert.author.id}) }}">{{ advert.author.username }}</a>, le {{ advert.date|date('d/m/Y') }}
            <br />
            <br />
            {{ advert.content }}
            <br />
            <br />

            {% if not advert.categories.empty %}
                <p>
                    Catégories :
                    {% for category in advert.categories %}
                        {#{{ category.name }}{% if not loop.last %}, {% endif %}#}
                        {% include'OCPlatformBundle:Advert:category.html.twig' with {'_cat': category} %}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>

    <div>
        {% if is_granted('ROLE_SEARCH') %}
            <div class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                {{ form_widget(form.content) }}
                {{ form_widget(form.Postuler, {'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_end(form) }}
            </div>
        {% endif %}

        {% if listApplications is defined %}

            {% set occurence = 0 %}
            {% for _app in listApplications %}
                {% if _app.author == app.user %}
                    {% set occurence = 1 %}
                {% endif %}
            {% endfor %}

            {% if (occurence > 0) or (is_granted('ROLE_AUTEUR') and advert.author.username == app.user.username) or (is_granted('ROLE_ADMIN')) %}
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Auteur</th>
                            <th>Détail</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                            {% if  listApplications|length > 0 %}
                                {% for _app in listApplications %}
                                    {% if _app.author == app.user or is_granted('ROLE_AUTEUR') or (is_granted('ROLE_ADMIN')) %}
                                        <tr>
                                            <td>{{ _app.date|date("H:i m/d/Y") }}</td>
                                            <td><a href="{{ path('core_user_profil', {'id': _app.author.id}) }}">{{ _app.author.username }}</a></td>
                                            <td>{{ _app.content }}</td>
                                            <td>
                                                <a href="{{ path('oc_platform_delete_application', {'id': _app.id}) }}" class="btn btn-danger">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td rowspan="3">[ AUCUN POSTULANT ]</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
            {% endif %}
        {% endif %}
        {% if listAdvertSkill is defined %}
            <ul>
                {% for advertSkill in listAdvertSkill %}
                    <li>{{ advertSkill.Skill.name ~ ' : ' ~ advertSkill.level}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>


{% endblock %}